.component-carInsurance {
    .banner {

    }
    .introduce {
        padding: 15px;
        box-sizing: border-box;
        .title {
            display: inline;
            font-family: '微软雅黑';
            font-size: 1.363rem;
        }
        .sub-title {
            color: #807d7d;
        }
    }
    .content {
        text-align: center;

        .title {
            font-size: 1.263rem;
        }
    }
}