.component-carInsurance {
    .banner {

    }
    .introduce {
        padding: 15px;
        box-sizing: border-box;
        .title {
            display: inline;
            font-family: '微软雅黑';
            font-size: 1.363rem;
        }
        .sub-title {
            color: #807d7d;
        }
    }
    .content {
        text-align: center;

        .title {
            font-size: 1.263rem;
        }
        .form-set {
            box-sizing: border-box;
            margin: 0 auto;
            padding: 2rem 4rem;
            border-radius: .42rem;

            input {
                margin-bottom: 1rem;
                padding: 0.82rem 1.42rem;
            }
        }
        .form-button {
            box-sizing: border-box;
            margin: 0 auto;
            padding: 2rem 4rem;
            border-radius: .42rem;
        }
        
    }
}