$avatarHeight: 118px;

.component-usercenter {
    .m-avatar {
        position: relative;
        background: url(/api/static/img/centerBg.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        color: white;
        width: 100%;
        text-align: center;

        .el-headimg {
            margin-top: 4%;
            border: 2px solid rgba(255,255,255,0.8);
            border-radius: 50%;
        }
        p {
            padding-top: 1rem;
        }
    }
    .list {
        .item {
            border: 0px solid #e6e6e6;
        }
    }
    .el-bdimg {
        height: 60px;
        widows: 60px;
    }
}